<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title or "Shiro的小屋" }}</title>
    <link rel="stylesheet" href="/assets/blog.css">


  </head>
  <body>
    <div class="wrapper">

      <main>
        {{ content | safe }}
      </main>

      <footer>
        <p>hmm...
        </p>
      </footer>
    </div>
  </body>
</html>