<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title or "Shiro的小屋" }}</title>
    <link rel="stylesheet" href="{{ '/assets/dream.css' | url }}">

  </head>
  <body>
    <h1 id="title">
      The Shore
      <img src="{{ '/assets/dream/shipline.gif' | url }}" alt='The Ship' id='ship'/>
      </h1>
    
    <div class="dream-info">
      <p>
    Thoes data are available for download in .json format.
  </p>

      <a href="{{ '/assets/dream/dream.json' | url }}" download class="dream-download">
    ⭳ Download
  </a>
    </div>

    <div class="dream-wrapper">

      <div class="dream-list">
        {% for item in dream %}
          <div class="dream-card">
            {%if item.date %}
            <h2>{{ item.date }}</h2>
            {%else %}
            <h2>Date unknown</h2>
            {%endif%}
            <p>{{ item.text }}</p>
          </div>
        {% endfor %}
      </div>

    </div>

    <footer>
      <a href="mailto:thulium69@outlook.com">
        <img src="{{ '/assets/dream/sendnow.gif' | url }}" alt="Email" id="email-icon"/>
      </a>
    </footer>
  </body>