<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title or "VOIDHEAD" }}</title>
    <link rel="stylesheet" href="{{'/assets/style.css' | url }}">

  </head>
  <body>
    <div class="wrapper">
      <div class="figure">
        <img src="{{'/assets/main/figure.webp' | url }}" alt="mascot"/>
      </div>
      <div class="bulletin-frame">
        <img src="{{'/assets/main/bulletin-border.png' | url }}" class="bulletin-border"/>
        <div class="bulletin-content">
          <h2>公告栏</h2></br>
          <p>
          To-do list</br>
          </p>
          <ul>
            <li>Fix layout issues on mobile devices</li>
            <li>Add more decors </li>
            <li>Add more content to the blog section</li>
            <li>Make a link banner?</li>
            <li>About(hobby actually?) and free material page</li>
            <li>Draw more stuffs for the site</li>
            <li> Make a github repository and publish it? on github host, and make a neocities? redirect</li>
          </ul>
          
  </div>
</div>
<header>
  <img src="{{'/assets/main/header.webp' | url }}" alt="Header Image" class="header-image"/>
  <a href="mailto:thulium69@outlook.com">
    <img src="{{'/assets/main/b_dol8.gif' | url }}" alt="Email" id="email-icon"/>
  </a>
</header>

<main>
  {{ content | safe }}
</main>

<footer>
  <small>placeholder for counter?</small>
</footer>

<img src="{{ '/assets/main/ratseal.png' | url }}" alt="rat seal" id="ratseal"/>
<img src="{{ '/assets/main/xushou.png' | url }}" alt="xushou" id="xushou"/>
<img src="{{'/assets/main/kongnao.png' | url }}" alt="kongnao" id="kongnao"/>
</div>
</body>
</html>