---
layout: blog-index.njk
title: Blog
---

<div id="content">

  <input type="checkbox" id="menu-toggle" hidden/>

  <label for="menu-toggle" id="mobile-togglebar">
    <span class="serio block-line">
      <span style="color:#ff0000">≡&nbsp;</span>
      <span style="color:#ccff00">M</span>
      <span style="color:#00ff66">E</span>
      <span style="color:#0066ff">N</span>
      <span style="color:#cc00ff">U</span>
    </span>
  </label>

  <aside id="sidebar">
    <div id="avatar">
      <img src="{{ '/assets/blog/avatar.png'| url }}" alt="Avatar" >
      <small style="color: grey;">©쵸지</small>
    </div>

    <div id="submenu">
      <div class="tags">
        <h2 class="serio">
          <span class="block-line">
            <span>
              <span style="color:#00ffa5">T</span>
              <span style="color:#00cbff">A</span>
              <span style="color:#ff00cc">G</span>
              <span style="color:#ff006e">S</span></span></span>
        </h2>
        <ul>
          <li>
            <a href="{{ '/tags/translation/index.html' | url }}">Translations</a>
          </li>
          <li>
            <a href="{{ '/tags/reading/index.html' | url }}">Reading</a>
          </li>
          <li>
            <a href="{{ '/tags/frontend/index.html' | url }}">Frontend</a>
          </li>
          <li>
            <a href="{{ '/tutorials' | url }}">Tutorials</a>
          </li>
        </ul>
      </div>

      <div class="links">
        <h2 class="serio">
          <span class="block-line">
            <span>
              <span style="color:#c0ff00">L</span>
              <span style="color:#ff4d00">I</span>
              <span style="color:#0054ff">N</span>
              <span style="color:#ff00e9">K</span>
              <span style="color:#4d00ff">S</span></span></span>
        </h2>
        <ul>
          <li>
            <a href="https://github.com/furuhata123" target="_blank">Github</a>
          </li>
          <li>
            <a href="https://discord.com/user/835748733048061982">Discord</a>
          </li>
          <li>
            <a href="{{ '/blog/archive/' | url }}">Archive</a>
          </li>
        </ul>
      </div>

      <img src="{{ '/assets/blog/tail.png'| url}}" alt="Decorative Image" style="width: 40%; margin-top: 20px; margin-left: auto; margin-right: auto; display: block;">
      <small style="color: grey;">©쵸지</small>
    </div>
  </aside>
  <main>
    <div id="blog-header">
      <h2 class="serio">
        <span class="block-line">
          <span>
            <span style="color:#00b3ff">A</span>
            <span style="color:#9c00ff">b</span>
            <span style="color:#00ff8b">o</span>
            <span style="color:#91ff00">u</span>
            <span style="color:#ff6b00">t&nbsp;</span></span>
          <span>
            <span style="color:#9200ff">M</span>
            <span style="color:#ff008a">e</span></span></span>
      </h2>
      <p>
        Eh, hi, it's not about me actually, it's about the blog. I'm lazy to change this part.
        Anyway, the posts here are mostly about computers, and book reviews? I also do translations from time to time.
      </p>

      <h3 class="serio">
        <span class="block-line">
          <span>
            <span style="color:#65ff00">R</span>
            <span style="color:#001aff">e</span>
            <span style="color:#0e00ff">a</span>
            <span style="color:#6200ff">d</span>
            <span style="color:#0070ff">i</span>
            <span style="color:#ff0001">n</span>
            <span style="color:#00fbff">g&nbsp;</span></span>
          <span>
            <span style="color:#ff3b00">l</span>
            <span style="color:#00ffa2">o</span>
            <span style="color:#00ff76">g</span>
            <span style="color:#ff0001; font-size:1.5em;">?</span>
          </span>
        </span>
      </h3>
      <a id="have-read" href="/blog/posts/have-read/">~Books read after site launch~</a>
      <div id="rlog">
        <div class="rlog-block">
          <p class="read-title">
            To read...
            </p>
            <ul id="to-read-list">
              <li>中国妖鬼</li>
              <li>test long text aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
            </ul>
          </div>
          <div class="rlog-block">
            <p class="read-title">
                Reading...
            </p>
            <ul id-"reading-list">
              <li>日本漫画为什么有趣</li>
              <li>test long text aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
            </ul>
          </div>
        </div>
      </div>
      <ul id="post-list">
        {% for post in collections.blog %}
          <li>
            <div class="post">
              <a class="post-title" href="{{ post.url | url }}">{{ post.data.title }}</a>

              <small>
                {{ post.date | date("yyyy-MM-dd") }}
              </small>
            </br>
            <div class="post-content">
              <p>
                <div id="excerpt">{{ post.data.page.excerpt }}
            &nbsp;
            <span id="readmore">
                    <a href="{{ post.url | url }}">
                      <img src="/assets/blog/readmore.webp" alt="readmore">
                    </a>
                  </span>
                </div>
              </div>
            </p>
          </br>
        </div>

      </li>
    {% endfor %}
  </ul>
</main>

<div id="dream">
  <a href="{{ '/dream' | url }}">My Dream</a>
</div>

<div id="back-home" class="serio">
  <a href="{{ '/' |url }}">
    <img src="{{ '/assets/blog/backhome.webp' | url}}" alt="Back to home"/>
  </a>
</div>
</div>