---
layout: blog-index.njk
title: Blog
---

<div id="content">

  <input type="checkbox" id="menu-toggle" hidden/>

  <label for="menu-toggle" id="mobile-togglebar">
    <span class="serio block-line">
      <span style="color:#ff0000">≡&nbsp;</span>
      <span style="color:#ccff00">M</span>
      <span style="color:#00ff66">E</span>
      <span style="color:#0066ff">N</span>
      <span style="color:#cc00ff">U</span>
    </span>
  </label>

  <aside id="sidebar">
    <div id="avatar">
      <img src="{{ '/assets/blog/avatar.png'| url }}" alt="Avatar" >
      <small style="color: grey;">©쵸지</small>
    </div>

    <div id="submenu">
      <div class="tags">
        <h2 class="serio">
          <span class="block-line">
            <span>
              <span style="color:#00ffa5">T</span>
              <span style="color:#00cbff">A</span>
              <span style="color:#ff00cc">G</span>
              <span style="color:#ff006e">S</span></span></span>
        </h2>
        <ul>
          <li>
            <a href="{{ '/blog/tags/blog' | url }}">Blog</a>
          </li>
          <li>
            <a href="{{ '/tags/javascript' | url }}">JavaScript</a>
          </li>
          <li>
            <a href="{{ '/tags/css' | url }}">CSS</a>
          </li>
          <li>
            <a href="{{ '/tags/tutorials' | url }}">Tutorials</a>
          </li>
        </ul>
      </div>

      <div class="links">
        <h2 class="serio">
          <span class="block-line">
            <span>
              <span style="color:#c0ff00">L</span>
              <span style="color:#ff4d00">I</span>
              <span style="color:#0054ff">N</span>
              <span style="color:#ff00e9">K</span>
              <span style="color:#4d00ff">S</span></span></span>
        </h2>
        <ul>
          <li>
            <a href="{{ '/about' | url }}">About Me</a>
          </li>
          <li>
            <a href="{{ '/contact' | url }}">Contact</a>
          </li>
          <li>
            <a href="{{ '/archive' | url }}">Archive</a>
          </li>
        </ul>
      </div>

      <img src="{{ '/assets/blog/tail.png'| url}}" alt="Decorative Image" style="width: 40%; margin-top: 20px; margin-left: auto; margin-right: auto; display: block;">
      <small style="color: grey;">©쵸지</small>
    </div>
  </aside>
  <main>
    <div id="blog-header">
      <h2 class="serio">
        <span class="block-line">
          <span>
            <span style="color:#00b3ff">A</span>
            <span style="color:#9c00ff">b</span>
            <span style="color:#00ff8b">o</span>
            <span style="color:#91ff00">u</span>
            <span style="color:#ff6b00">t&nbsp;</span></span>
          <span>
            <span style="color:#9200ff">M</span>
            <span style="color:#ff008a">e</span></span></span>
      </h2>
      <p>
        Eh, hi, it's not about me actually, it's about the blog. I'm lazy to change this part.
        Anyway, the posts here are mostly about computers, and book reviews? I also do translations from time to time.
      </p>
    </div>
    <ul id="post-list">
      {% for post in collections.blog %}
        <li>
          <div class="post">
            <a class="post-title" href="{{ post.url | url }}">{{ post.data.title }}</a>
            <small>
              {{ post.date | date("yyyy-MM-dd") }}
            </small>
          </br>
          <p>
            <div id="excerpt">{{ post.data.page.excerpt }}
            &nbsp;
            <span id="readmore">
                <a href="{{ post.url | url }}"  class="serio">
                   <span class="block-line"><span><span style="color:#ff6500">R</span><span style="color:#002dff">e</span><span style="color:#ff004b">a</span><span style="color:#9400D3">d&nbsp;</span></span><span><span style="color:#00aaff">m</span><span style="color:#ff00c4">o</span><span style="color:#9400D3">r</span><span style="color:#FF7F00">e</span><span style="color:#ff004e">.</span><span style="color:#00d6ff">.</span><span style="color:#00ff98">.</span></span></span>
                </a>
              </span>
            </div>
          </p>
        </br>
      </div>

    </li>
  {% endfor %}
</ul>
</main>

<div id="dream">
<a href="{{ '/dream' | url }}">My Dream</a>
</div>

<div id="back-home" class="serio">
  <a href="{{ '/' |url }}">
  <img src="{{ '/assets/blog/backhome.webp' | url}}" alt="Back to home" />
  </a>
  </div>
</div>