---
layout: layout.njk
title: 首页
---

<section class="main-home">

    <div class="left">
        <div class="miscbox">
            <p>占位占位占位aaaaaaaaaaaaaaaaaaa
dfsfsdnksjdnkjsnksjvnjfdnkfnbjnkjnsjkdcndkjnkjcnakscnkjn
available
aaaa
aa
what
            </p>
            <div clss="images">
                <img src="/assets/main/bo02h.jpg"/>
                <img src="/assets/main/bo02j.jpg"/>
                <img src="/assets/main/bo02m.jpg"/>
                
                <a href="http://www.ankokukoubou.com/" target="_blank" rel="noopener noreferrer">
                    <img src="http://www.ankokukoubou.com/etc/ankoku/ankokubanab1.gif" alt="暗黒工房"/>
                </a>

            </div>
        </div>
    </div>

    <div class="center">

        <div class="garden">
            <img src="/assets/main/garden.webp" alt="garden"/>
        </div>

    </div>

    <div class="shadow-box">
        <nav class="menu">
            <a class="torn-left" href="/blog">blog</a>
            <a class="torn-left dotted-hover" href="/about">about</a>

            <a class="torn-left" href="/tool">tool</a>

        </nav>
    </div>
</section>