---
layout: layout.njk
title: 首页
---

<section class="main-home">

    <div class="left">
        <div class="miscbox">
            <p>占位占位占位aaaaaaaaaaaaaaaaaaa
dfsfsdnksjdnkjsnksjvnjfdnkfnbjnkjnsjkdcndkjnkjcnakscnkjn
available
aaaa
aa
what
            </p>
            <div class="images">
                <img src="{{ '/assets/main/bo02h.jpg' | url }}"/>
                <img src="{{ '/assets/main/bo02j.jpg' | url }}"/>
                <img src="{{ '/assets/main/bo02m.jpg' | url }}"/>
                
                <a href="http://www.ankokukoubou.com/" target="_blank" rel="noopener noreferrer">
                    <img src="{{ '/assets/main/external/ankokubana.gif' | url }}" alt="暗黒工房"/>
                </a>

            </div>
        </div>
    </div>

    <div class="center">

        <div class="garden">
            <img src="{{ '/assets/main/garden.webp' | url }}" alt="garden"/>
        </div>

    </div>

    <div class="shadow-box">
        <nav class="menu">
            <a class="torn-left" href="{{ '/blog' | url }}">blog</a>
            <a class="torn-left dotted-hover" href="{{ '/about' | url }}">about</a>

            <a class="torn-left" href="{{ '/tool' | url }}">tool</a>

        </nav>
    </div>
</section>