/* font control stuff */
@font-face {
    font-family: 'serio';
    src: url('/assets/fonts/SERIO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.serio {
    font-family: 'serio', sans-serif;
}

/*font control end*/

/* media queries */
@media screen and (max-width: 768px) and (orientation:portrait) {
    body {
        overflow-x: hidden;
    }

    #mobile-togglebar {
        display: block !important;
        background: #e8ffb1;

        position: fixed;
        top: 0;
        left: 0;
        height: auto;
        width: 7em;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 0.5em 0;
        box-sizing: border-box;

        /* shape */
        border-radius: 0 30px 30px 0px;
    }





    #sidebar {
        display: none;

        position: fixed !important;
        top: 0;
        left: 0;
        width: 80vw;
        height: 90vh;
        background: #fff;
        padding: 1.5em;
        z-index: 998;


        max-width: 80vw;
    }

    #menu-toggle:checked~#sidebar {
        display: block;
    }

    #dream {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 20em;
    }

    #content {
        display: flex;
        padding: 0;
        margin: 0;


    }

    main {
        width: 100%;
        padding: 1em !important;
    }

    #blog-header,
    #post-list {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #dream {
        flex: 1;
        width: 100%;
    }

    #back-home {
        top: 0;
        right: -13% !important;

    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    margin: 0;

    font-family: Garamond, serif;
    font-size: 120%;

    overflow-x: hidden;
}

.wrapper {
    margin: 0;
}

#content {
    display: flex;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

#mobile-togglebar {
    display: none;
}

#sidebar {
    flex: 1;
    background-color: #e8ffb1;
    border: 1px solid #dcdcdc;
    float: left;
    height: fit-content;
    max-width: 320px;
    min-width: 300px;
    flex-shrink: 0;
    padding: 2em;
    border-top: #e1e100 2px solid;
    border-bottom: #08aa98 2px solid;


    position: sticky;
    top: 0;

}

#sidebar a:hover {
    color: #44ffde;
}

.block-line>span {
    display: inline-block;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    text-shadow: #A3A3A3 1px 1px 0px;
    margin-bottom: 0;
    margin-top: 0;
}

a {
    text-decoration: none;
}

#avatar #tail {
    max-width: 320px;
    height: auto;
    margin-bottom: 0;
}

#avatar img {
    width: 100%;
    height: auto;
}

.tags ul li {
    display: inline-block;
}

.tags a {
    display: inline-block;
    margin-bottom: 0.5em;
    background-color: #fff;
    width: fit-content;
}

.links a {
    display: block;
    margin-bottom: 0.5em;
    background-color: #fff;
}

#blog-header p {
    padding-top: 0;
}

.links {
    max-width: 960px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 3em;
    padding-bottom: 0;
    min-width: 0;
}

#blog-header {
    flex: 1;
    background-image: url('/assets/blog/demin-alt.jpg');
    padding: 2em;
    margin: 0.5em;
    width: 90%;
}

#post-list {
    flex: 2;
    background-image: url('/assets/blog/blue-demin.jpg');
    padding: 2em;
    margin: 0.5em;
    width: 90%;
}

.post {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-decoration: none;
    /* list dot removal*/
    list-style-type: none;
}

.post-title {
    font-size: 1.2em;
    font-weight: 600;
    color: #337788;
    text-decoration: none;
    border-bottom: 1px dashed #aacccc;
    transition: all 0.2s ease;
}

.post-title:hover {
    color: #ffaa99;
    border-bottom-color: #ffddcc;
}


ul {
    list-style-type: none;
}

#readmore {
    display: inline-block;
    background-color: #ffc5c5;
    background-image: url('/assets/blog/SB087.jpg');
    padding: 1em;
    position: relative;
    font-weight: bold;
    font-size: 0.8em;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#readmore:hover {
    background-color: #44ffde;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

#dream {
    position: absolute;
    top: 3%;
    right: 5%;
    background-image: url('/assets/sky_back.gif');
    background-size: cover;
    background-position: center;
    border-radius: 50% 50% 40% 60% / 60% 40% 50% 50%;
    padding: 1em;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(200, 220, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    filter: saturate(1.1) contrast(1.05) blur(0.3px);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: floaty 3s ease-in-out infinite;

    width: fit-content;
}

#dream a {
    text-decoration: none;
    color: white;
    font-family: 'Comic Sans MS', 'cursive';
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

#dream:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.6);
    filter: saturate(1.3) contrast(1.2);
}

#back-home {
    display: inline-block;
    padding: 0.6em;
    position: absolute;
    top: 10%;
    right: 0%;

    animation: floaty 3s ease-in-out infinite;
}

#back-home img {
    transform: scale(0.6);
}

#back-home:hover img{
    transform: scale(0.6) rotate(10deg);
}

@keyframes floaty {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-5px) rotate(1deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}