/* font control stuff */
@font-face {
    font-family: 'serio';
    src: url('../assets/fonts/SERIO.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.serio {
    font-family: 'serio', sans-serif;
}

@media screen and (max-width: 768px) and (orientation:portrait){
    
    .wrapper {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .sidebar {
        position: sticky;
        max-width: 100%;
        width: 100%;
        margin-bottom: 1.5em;
        top: 0 !important;
    }

    .sidebar p {
        display: none;
    }

    main {
        padding: 1.5em;
    }
}
* {
    box-sizing: border-box;   
    margin:0;
    padding:0;
  }
html, body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    background-size: 100%;
    color: #444;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
  }
  
  a {
    color: #ffa5a5;
    text-decoration: none;
    border-bottom: 1px dashed #99dddd;
    transition: all 0.2s ease;
  }
  
  a:hover {
    color: #339999;
    border-bottom-color: #ffee99;
  }
  
  .wrapper {
    display: flex;
    width: 100%;
    max-width: 960px;
    padding: 0 1em;
    box-sizing: border-box;
    margin: 2em auto;
    gap: 2em;
  }
  
  .sidebar {
    position: sticky;
    top: 1.5em;
    align-self: flex-start;
    background-image: url('../assets/blog/SB090.JPG');
    padding: 1.2em;
    max-width: 320px;
    min-width: 300px;
    font-size: 0.95em;
    border-top: #e1e100 2px solid;
    border-bottom: #08aa98 2px solid;
    z-index: 2;
  }
  
  .sidebar a {
    display: block;
    margin-bottom: 0.5em;
    color: #556644;
  }

  #back-button {
    font-size: 2.5em;
    text-shadow: #A3A3A3 1px 1px 0px;
  }

  #back-button:hover {
    transform: rotate(5deg);
  }

  main {
    flex: 1;
    background:#e8ffb1;
    padding: 2em;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);

    max-width: 750px;  
    box-sizing: border-box;
  }
  
  main > a {
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    border: none;
  }

  #post-header{
    background-image: url('../assets/blog/086C.jpg');
    width: 100%;
    height: 4em;
    width: calc(100% + 4em);
    margin-top: -2em;
    margin-left: -2em;
    margin-right: -2em;
  }
  
  small {
    display: block;
    color: #888;
    margin-bottom: 1.5em;
  }
  
  p:last-of-type {
    margin-top: 2em;
    border-top: 1px dashed #ccc;
    padding-top: 1.5em;
    font-size: 1em;
    color: #666;

    
  }
  